@model IEnumerable<PlaneTickets.Models.Ticket>

@{
    ViewData["Title"] = "Tickets";
}

<h1>Plane Tickets</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TicketId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departure)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartureTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DestinationTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartureGate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DestinationGate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TicketId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departure)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Destination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Class)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartureTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DestinationTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartureGate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DestinationGate)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.TicketId">Details</a> |
                <a asp-action="AddToCart" asp-controller="Carts" asp-route-id="@item.TicketId">Add to cart</a>
            </td>
        </tr>
}
    </tbody>
</table>
